<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new record</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <h1>Fill in the form</h1>

    <form th:action="@{/addEntry}" th:object="${contactForm}" method="POST">
        <p>Name: 
            <input type="text" th:field="*{name}" />
        </p>
        <br />
        <p>Email: 
            <input type="text" th:field="*{email}" />
        </p>
        <p>Message:
            <textarea th:field="*{message}"></textarea> 
        </p>
        <br>
        <br>
        <input type="submit" value="Create" />
    </form>

</body>
</html>